#head-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#head-nav a:link{
  /* outline: 2px solid orangered; */
  text-decoration: none;
}

#head-nav a:hover{
  opacity: 0.8;
  text-decoration: none;
}

.head-links {
  border: none;
}

.flex-container {
  outline: 2px solid purple;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-container{
  outline: 4px solid seagreen;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px 5px;
}

.products{
  outline: 2px solid salmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

li{
  list-style-type: none;
}



body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #cc71a6;
  /* Color:#9b6b11;
  color: #cdaf43;
  color: #fbbaca; */

}

a:link {
  color: #cdaf43;
}

a:visited {
  color: #cdaf43;
}
a:hover {
  color: #fbbaca;
}

fieldset {
  background-color: #fbbaca;
  padding: 50px;
  border: none;
  border-radius: 20px;
  box-shadow: inset 5px 10px 60px 40px #dea5c6;
  color: white;
  font-size: 1.5rem;
}

fieldset p {
  padding: 10px;
}

fieldset input {
  font-family: 'Montserrat', sans-serif;
}

.back {
  font-size: 1.5rem;
}

.show-box{
   /* outline: 2px solid salmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.btn-box {
  /* outline: 2px solid salmon; */
  display: flex;
  align-content: space-between;
  gap: 20px;
}



.btn, button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.btn:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn:focus {
  outline: 1px transparent;
}

.btn:before {
  display: none;
}

.btn:-webkit-details-marker {
  display: none;
}

button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.hidden {
  display: none
}